.title {
  color: rgb(50, 16, 170);
  font-size: 30px;
  padding: 10px 0;
}

.header {
  position: sticky;
  top: 0;
  background-color: #fff;
  height: 70px;
  display: flex;
  align-items: center;
  -webkit-box-shadow: -1px 3px 10px 4px rgba(171, 171, 171, 1);
  -moz-box-shadow: -1px 3px 10px 4px rgba(171, 171, 171, 1);
  box-shadow: -1px 3px 10px 4px rgba(171, 171, 171, 1);

  padding: 0 10px;
}
